<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: head"></div>
<title>닐슨 관리자페이지</title>
<body>
<div class="container" style="margin-left: 50px;">
  <form th:action="@{/admin/search}" method="get" id="searchForm">
    <div class="row" style="width:1800px; height:320px;">
      <div class="col-2 mt-5 pt-3" style="border:1px solid black">
        <div style="margin-bottom:5px;">조회할 기준열 선택</div>
        <div style="border:1px solid black; padding-left:5px;">
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnList" value="ENR_MODEL_NO">모델번호</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnList" value="PL_NO">PL_NO</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnList" value="BUY_DATE">구매일자</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnList" value="GOODS_NAME">상품명</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnList" value="GOODS_OPTN_VLU">상품옵션값</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnList" value="PROC_PRD_VLU">처리기간일자</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnList" value="SMTD_SHOP_CODE">스마트택배쇼핑몰코드</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnList" value="ADJ_BUY_QNTY">보정구매수량</label>
        </div>
      </div>
      <div class="col-5 mt-5 pt-3" style="border:1px solid black; padding-bottom:15px;">
        <div style="margin-bottom:5px;">조건 선택</div>
        <div style="border:1px solid black">
          <label style="margin-top:10px; margin-left:5px;">상품명 <input style="margin-left:16px" type="text" name="goodsName"></label>
          <label style="margin-top:10px; margin-left:20px;">상품옵션명 <input type="text" name="goodsOptionValue"></label>
          <label style="margin-top:10px; margin-left:5px;">카테코드 <input type="text" name="enuriRepCateCode"></label>
          <label style="margin-top:10px; margin-left:20px;">모델번호 <input style="margin-left:16px" type="text" name="enuriModelNo"></label>
          <label style="margin-top:10px; margin-left:5px;">PL_NO <input style="margin-left:17px" type="text" name="plNo"></label>
          <label style="margin-top:10px; margin-left:20px;">구매일자 <input style="margin-left:16px" type="date" name="startBuyDate"></label><input type="date" name="endBuyDate"></label>
          <label style="margin-top:10px; margin-left:258px;">INDEX DATE <input style="margin-left:16px" type="date" name="startIndexDate"></label><input type="date" name="endIndexDate"></label>
        </div>
      </div>
      <div class="col-2 mt-5 pt-3" style="border:1px solid black; float:left;">
        <div>정렬 선택</div>
        <select class="custom-select" name="sortTargetColumn" form="searchForm">
          <option value="">기본 정렬</option>
          <option value="PL_NO">PL_NO</option>
          <option value="ENR_MODEL_NO">모델번호</option>
        </select>
        <div style="margin-top:13px;">집계열 선택</div>
        <select class="custom-select" name="aggregation" form="searchForm">
          <option value="">사용 안함</option>
          <option value="SUM">SUM</option>
          <option value="COUNT">COUNT</option>
          <option value="COUNT_DISTINCT">COUNT(DISTINCT)</option>
        </select>
        <div style="margin-top:13px;">집계 대상열 선택</div>
        <select class="custom-select" name="aggregationTargetColumn" form="searchForm">
          <option value=""></option>
          <option value="ENR_MODEL_NO">ENR_MODEL_NO</option>
          <option value="PL_NO">PL_NO</option>
        </select>
      </div>
      <input type="submit" value="검색" style="height:30px; margin-top:270px; margin-left:10px;">
      <div class="col-4 mt-5 pt-3">
      </div>
    </div>
  </form>

  <div class="row" style="width:1800px; max-height:700px; overflow-y:scroll;">
    <table class="table table-striped" style="width:100%; table-layout:fixed; word-break:break-all; border:1px solid black;">
      <colgroup>
        <col span="1" style="width:4%">
        <col span="1" style="width:6%">
        <col span="1" style="width:10%">
        <col span="1" style="width:10%">
        <col span="1" style="width:18%">
        <col span="1" style="width:22%">
        <col span="1" style="width:10%">
        <col span="1" style="width:10%">
        <col span="1" style="width:10%">
      </colgroup>
      <thead>
      <tr>
        <th>No</th>
        <th>BUY_DATE</th>
        <th>PROC_PRD_VLU</th>
        <th>ENR_MODEL_NO</th>
        <th>GOODS_NAME</th>
        <th>GOODS_OPTN_VLU</th>
        <th>PL_NO</th>
        <th>SMTD_SHOP_CODE</th>
        <th>ADJ_BUY_QNTY</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="searchResult : ${searchResultList}">
        <td>1</td>
        <td th:text="${searchResult.buyDate}">20210101</td>
        <td th:text="${searchResult.processingPeriodValue}">DF202012</td>
        <td th:text="${searchResult.enuriModelNo}">9824858</td>
        <td th:text="${searchResult.goodsName}">제로콜라 355ml 24캔 1박스 안전포장</td>
        <td th:text="${searchResult.goodsOptionValue}">코카콜라 제로 캔: 콜라제로 2박스(+17500원)</td>
        <td th:text="${searchResult.plNo}">6623324045</td>
        <td th:text="${searchResult.smartDeliveryShoppingMallCode}">15</td>
        <td th:text="${searchResult.adjustedBuyQuantity}">1</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" tabindex="-1" aria-disabled="true">
            Previous
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link">
            Next
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</body>
</html>