<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: head"></div>
<title>닐슨 관리자페이지</title>
<body>
<div class="container" style="margin-left: 50px; font-size:12px;">
  <form th:action="@{/admin/search}" method="get" id="searchForm">
    <div class="row" style="width:1800px; height:250px;">
      <div class="col-2 mt-5 pt-3" style="border:1px solid black; height: 188px;">
        <div style="margin-bottom:5px;"><b>조회할 기준열 선택</b></div>
        <div style="border:1px solid black; padding-left:5px; padding-top:5px;">
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnSet" value="ENR_MODEL_NO">ENR_MODEL_NO</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnSet" value="PL_NO">PL_NO</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnSet" value="BUY_DATE">BUY_DATE</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnSet" value="GOODS_NAME">GOODS_NAME</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnSet" value="GOODS_OPTN_VLU">GOODS_OPTN_VLU</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnSet" value="PROC_PRD_VLU">PROC_PRD_VLU</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnSet" value="SMTD_SHOP_CODE">SMTD_SHOP_CODE</label>
          <label style="margin-right:5px"><input type="checkbox" name="selectedColumnSet" value="ADJ_BUY_QNTY">ADJ_BUY_QNTY</label>
        </div>
      </div>
      <div class="col-5 mt-5 pt-3" style="border:1px solid black; padding-bottom:15px; height: 188px;">
        <div style="margin-bottom:5px;"><b>조건 선택</b></div>
        <div style="border:1px solid black">
          <label style="margin-top:10px; margin-left:5px;">상품명 <input style="margin-left:12px" type="text" name="goodsName"></label>
          <label style="margin-top:10px; margin-left:5px;">상품옵션명 <input type="text" name="goodsOptionValue"></label>
          <label style="margin-top:10px; margin-left:5px;">카테코드 <input type="text" name="enuriRepCateCode"></label>
          <label style="margin-top:10px; margin-left:5px;">모델번호 <input type="text" name="enuriModelNo"></label>
          <label style="margin-top:10px; margin-left:5px;">PL_NO <input style="margin-left:24px" type="text" name="plNo"></label>
          <label style="margin-top:10px; margin-left:5px;">구매일자 <input type="date" name="startBuyDate"><input type="date" name="endBuyDate"></label>
          <label style="margin-top:10px; margin-left:25px;">INDEX
            <input id="startIndexDate" type="date" name="startIndexDate" onchange="switchNormalDateToIndexDate('startIndexDate')">
            <input id="endIndexDate" type="date" name="endIndexDate" onchange="switchNormalDateToIndexDate('endIndexDate')">
          </label>
        </div>
      </div>
      <div class="col-2 mt-5 pt-3" style="border:1px solid black; float:left; height: 188px;">
        <div><b>정렬 선택</b></div>
        <select class="custom-select" name="sortTargetColumn" form="searchForm">
          <option value="">기본 정렬</option>
          <option value="PL_NO">PL_NO</option>
          <option value="ENR_MODEL_NO">모델번호</option>
        </select>
        <div style="margin-top:13px;"><b>집계방식 선택</b></div>
        <select class="custom-select" name="aggregation" form="searchForm" style="width:131px; float:left;">
          <option value="">사용 안함</option>
          <option value="SUM">SUM</option>
          <option value="COUNT">COUNT</option>
          <option value="COUNT_DISTINCT">COUNT(DISTINCT)</option>
        </select>
        <div style="margin-top:-18px; margin-left:135px;"><b>집계 대상열 선택</b></div>
        <select class="custom-select" name="aggregationTargetColumn" form="searchForm" style="width:131px; margin-left:5px;">
          <option value=""></option>
          <option value="ENR_MODEL_NO">ENR_MODEL_NO</option>
          <option value="PL_NO">PL_NO</option>
        </select>
      </div>
      <input type="submit" value="검색" style="height:30px; margin-top:206px; margin-left:10px; float:left;">
      <div class="col-4 mt-5 pt-3">
      </div>
    </div>
  </form>
  <div th:if="${searchInputForm == null}">
    <div class="row" style="width:1800px; max-height:700px; overflow-y:scroll;">
      <table class="table table-striped" style="width:100%; table-layout:fixed; word-break:break-all; border:1px solid black;">
        <colgroup>
          <col span="1" style="width:4%">
          <col span="1" style="width:6%">
          <col span="1" style="width:10%">
          <col span="1" style="width:10%">
          <col span="1" style="width:18%">
          <col span="1" style="width:22%">
          <col span="1" style="width:10%">
          <col span="1" style="width:10%">
          <col span="1" style="width:10%">
        </colgroup>
        <thead>
        <tr>
          <th>No</th>
          <th>BUY_DATE</th>
          <th>PROC_PRD_VLU</th>
          <th>ENR_MODEL_NO</th>
          <th>GOODS_NAME</th>
          <th>GOODS_OPTN_VLU</th>
          <th>PL_NO</th>
          <th>SMTD_SHOP_CODE</th>
          <th>ADJ_BUY_QNTY</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div th:if="${searchInputForm != null}">
    <div class="row" style="width:1800px; max-height:700px; overflow-y:scroll;">
      <table th:if="${searchInputForm.searchMode == T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.SearchMode).NORMAL}" class="table table-striped" style="width:100%; table-layout:fixed; word-break:break-all; border:1px solid black;">
        <colgroup>
          <col span="1" style="width:4%">
          <col th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).BUY_DATE)}" span="1" style="width:6%">
          <col th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).PROC_PRD_VLU)}" span="1" style="width:10%">
          <col th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).ENR_MODEL_NO)}" span="1" style="width:10%">
          <col th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).GOODS_NAME)}" span="1" style="width:18%">
          <col th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).GOODS_OPTN_VLU)}" span="1" style="width:22%">
          <col th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).PL_NO)}" span="1" style="width:10%">
          <col th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).SMTD_SHOP_CODE)}" span="1" style="width:10%">
          <col th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).ADJ_BUY_QNTY)}" span="1" style="width:10%">
        </colgroup>
        <thead>
        <tr>
          <th>No</th>
          <th th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).BUY_DATE)}">BUY_DATE</th>
          <th th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).PROC_PRD_VLU)}" >PROC_PRD_VLU</th>
          <th th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).ENR_MODEL_NO)}" >ENR_MODEL_NO</th>
          <th th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).GOODS_NAME)}" >GOODS_NAME</th>
          <th th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).GOODS_OPTN_VLU)}" >GOODS_OPTN_VLU</th>
          <th th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).PL_NO)}" >PL_NO</th>
          <th th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).SMTD_SHOP_CODE)}" >SMTD_SHOP_CODE</th>
          <th th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).ADJ_BUY_QNTY)}" >ADJ_BUY_QNTY</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${searchResultList.getContent().size() > 0}" th:each="searchResult : ${searchResultList.getContent()}">
          <td>1</td>
          <td th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).BUY_DATE)}" th:text="${searchResult.buyDate}">20210101</td>
          <td th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).PROC_PRD_VLU)}" th:text="${searchResult.processingPeriodValue}">DF202012</td>
          <td th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).ENR_MODEL_NO)}" th:text="${searchResult.enuriModelNo}">9824858</td>
          <td th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).GOODS_NAME)}" th:text="${searchResult.goodsName}">제로콜라 355ml 24캔 1박스 안전포장</td>
          <td th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).GOODS_OPTN_VLU)}" th:text="${searchResult.goodsOptionValue}">코카콜라 제로 캔: 콜라제로 2박스(+17500원)</td>
          <td th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).PL_NO)}" th:text="${searchResult.plNo}">6623324045</td>
          <td th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).SMTD_SHOP_CODE)}" th:text="${searchResult.smartDeliveryShoppingMallCode}">15</td>
          <td th:if="${searchInputForm.selectedColumnSet.contains(T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.Column).ADJ_BUY_QNTY)}" th:text="${searchResult.adjustedBuyQuantity}">1</td>
        </tr>
        </tbody>
      </table>
      <span th:if="${searchResultList.getContent().size() == 0}">조회된 결과가 없습니다.</span>
      <table th:if="${searchInputForm.searchMode == T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.SearchMode).AGGREGATION}" class="table table-striped" style="width:100%; table-layout:fixed; word-break:break-all; border:1px solid black;">
        <colgroup>
          <col span="1" style="width:100%">
        </colgroup>
        <thead>
        <tr>
          <th th:text="${searchInputForm.aggregation + '(' + searchInputForm.aggregationTargetColumn + ')'}">COUNT_DISTINCT(ENR_MODEL_NO)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="searchResult : ${searchResultList.getContent()}">
          <td th:text="${searchResult.aggregationResult}">562</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${searchInputForm.searchMode == T(com.enuri.nielsen.admin.domain.shoppingDiary.enums.SearchMode).NORMAL}" class="row" style="margin-top:10px; margin-left:700px;">
      <nav>
        <ul class="pagination">
          <li class="page-item" th:classappend="${searchResultList.getNumber()/5*5 - 1 <= 0}? disabled">
            <a class="page-link" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)},
                                          previousPage=${searchResultList.getNumber()/5*5 - 1}"
               th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', previousPage).toUriString()}">Previous</a>
          </li>
          <li class="page-item" th:if="${searchResultList.getTotalPages() > 0}" th:classappend="${i == searchResultList.getNumber()}? active"
              th:each="i: ${#numbers.sequence(searchResultList.getNumber()/5*5, (searchResultList.getNumber()/5*5 + 4 < searchResultList.getTotalPages() ? searchResultList.getNumber()/5*5 + 4 : searchResultList.getTotalPages() - 1))}">
            <a class="page-link" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}"
               th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', i).toUriString()}" th:text="${i + 1}">1</a>
          </li>
          <li class="page-item" th:classappend="${searchResultList.getNumber()/5*5 + 5 >= searchResultList.getTotalPages()}? disabled">
            <a class="page-link" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)},
                                          nextPage=${searchResultList.getNumber()/5*5 + 5}"
               th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', nextPage).toUriString()}">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<script>
  function switchNormalDateToIndexDate(startDateOrEndDate) {
      var normalDate = $("#"+startDateOrEndDate).val().toString().replaceAll('-','');
      $.ajax({
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          url: '/switchNormalDateToIndexDate',
          data: 'normalDate=' + normalDate +'&startDateOrEndDate=' + startDateOrEndDate
      }).done(function(result) {
          $("#"+startDateOrEndDate).val(result["switchedIndexDate"]);
          if(result["normalDateOutOfBoundForConvertingToIndexDateExceptionExist"] == true) {
            alert("입력하신 날짜는 INDEX 날짜로 변환할 수 있는 범위를 초과하였습니다.");
          }
      });
  }
</script>
<script th:replace="fragments.html :: loadingWithLoadingImage"></script>
</body>
</html>